{% extends 'simple-base.html' %}
{% block title %}Contact us | webheavenit {% endblock title %}

{% block content %}
{% load static %}


	<div class="contact-form new-section">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<form>
					<input type="email" name="email" placeholder="youremail@example.com" class="form-control" required="true"><br>
					<input type="text" name="subject" placeholder="What is your question ?" class="form-control" required="true"><br>
					<textarea rows="12" class="form-control" name="message" required="true">Can you describe it more ?</textarea><br>
					<button class="btn btn-orange text-white">Send message now</button>
				</form>
			</div>
		</div>
	</div>

	{% endblock content %}

