<h2>When will i get started learning after the payment?</h2><br>

<p> You will get instant access to your dashboard and you will find your starting date here </p><br>

<h2>Will i get refund if i am not satisfied?</h2><br>

<p>Please visit our refund policy page </p><br>

<p>After the payment user will get instant access to dashboard and see their trainer information on their dashboard that means instant delivery</p><p>In case if you are not able  to access instant dashboard please contact support</p>