{% extends 'dashboard/base.html' %}
{% block title %}schedule | Webheavenit {% endblock title %}

{% block content %}
{% load static %}

<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="overview-wrap text-center">
            <h2 class="title-1 text-center"> Get enrolled now </h2>
                
        </div>
    </div>
</div>


<!-- schedule and payment form starts here -->
	<div class="row mt-4 justify-content-center">
		<div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                	{% for message in messages %}
                	<div class="alert alert-info">{{message}}</div>
                	{% endfor %}
                </div>
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-center title-2">One time payment</h3>
                        </div>
                                        <hr>
                        <div action="#" novalidate="novalidate" id="payment-form">

                        	{% csrf_token %}
                        	<input type="hidden" name="token" value="none" id="tokeninput">
                        <div class="form-group">
                            <label for="cc-payment" class="control-label mb-1">Select time availability</label>
                            <select id="cc-payment" name="time" class="form-control">
                            	{% if totaltimecount == 0 %}
                            	<option name="time" value="no">No available time for now. Try again later</option>
                            	{% else %}
                            	{% for x in available_time %}
                            	<option name="time" value="{{x}}"> {{x}}   Eastern Standard Time (EST) </option>

                            	{% endfor %}

                            	{% endif %}
                            	
                            </select>
                         </div>             <!--
                                            <div class="form-group has-success">
                                                <label for="cc-name" class="control-label mb-1">Name on card</label>
                                                <input id="name" name="cc-name" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card"
                                                    autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error" required="true">
                                                <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                                            </div> -->
                                            <!-- 2checkout iframe will be added here -->

												<!--
											<div class="form-group">
                                                <label for="cc-number" class="control-label mb-1">Card number</label>
                                                <input id="ccNo" name="cc-No" type="tel" class="form-control cc-number identified visa" value="" data-val="true" data-val-required="Please enter the card number" data-val-cc-number="Please enter a valid card number" autocomplete="cc-number" required="true" placeholder="5105105105105100">
                                                <span class="help-block" data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
                                            </div> -->
                                            <!--
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="cc-exp" class="control-label mb-1">Expiration</label>
                                                        <input id="cc-exp" name="cc-exp" type="tel" class="form-control cc-exp" value="" data-val="true" data-val-required="Please enter the card expiration" data-val-cc-exp="Please enter a valid month and year" placeholder="MM / YYYY" autocomplete="cc-exp" required="true">


                                                        <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <label for="x_card_code" class="control-label mb-1">Security code</label>
                                                    <div class="input-group">
                                                        <input id="cvv" name="x_card_code" type="tel" class="form-control cc-cvc" value="" data-val="true" data-val-required="Please enter the security code" data-val-cc-cvc="Please enter a valid security code" autocomplete="off" required="true" placeholder="123">

                                                    </div>
                                                </div>
                                            </div> -->

                                            <!-- extra section demo of form -->
                                           
                                            
                                            <div> <a href="https://secure.2checkout.com/checkout/buy?merchant=250797972054&return-url=https%3A%2F%2Fwebheavenit.com%2Fuser%2Fpayment-confirmed&return-type=redirect&tpl=default&prod=VO70A9320N&qty=1&signature=3415cd900b76acb7901ca0337b75f3279df1f043f17fab3097ec422e1602546c" style="width:100%" id="finalpaybtn">
                                                <button id="payment-button"  class="btn btn-lg btn-info btn-block">
                                                    <i class="fa fa-lock fa-lg"></i>&nbsp;
                                                    <span id="payment-button-amount">Pay $299.00

                                                    </span>

                                                    <span id="payment-button-sending" style="display:none;">Sending…</span>
                                                </button>
                                            </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--shceduling and payments form ends here  -->




<script type="text/javascript">
    
$('#finalpaybtn').on('click',function(event){

    var gettime=$('#cc-payment').val();
    //var attri=$('#finalpaybtn').attr('href').replace('xxxxx',gettime)
    //var fin=attri.replace(' ','-');
    //$('#finalpaybtn').attr('href',fin);
    document.cookie="time ="+gettime+";"+"path=/"
    

    
}); 




</script> 


<!-- cdn here -->
<!--<script type="text/javascript" src="https://www.2checkout.com/checkout/api/2co.min.js"></script> -->
<!-- end of cdn here -->

<!-- start of raw javascript section -->


<!--
  <script>
    // Called when token created successfully.

    
    var successCallback = function(data) {
       var Mytoken = data.response.token.token;
      $('#tokeninput').val(Mytoken);
      $('#payment-form').submit();
    };
    
    // Called when token creation fails.
    var errorCallback = function(data) {
      // Retry the token request if ajax call fails
      if (data.errorCode === 200) {
        tokenRequest();
      } else {
        alert('something went wrong ! please try again');
        location.reload();
      }
    };

    var tokenRequest = function() {
    	var get_exp = $('#cc-exp').val().replace(' ').split('/');

      // Setup token request arguments
      var args = {
        sellerId: "250757877049",
        publishableKey: "037F6FA8-3D2B-440B-BF45-98A9C563053E",
        ccNo: $("#ccNo").val(),
        cvv: $("#cvv").val(),
        expMonth: get_exp[0],
        expYear: get_exp[1]
      };

      // Make the token request
      TCO.requestToken(successCallback, errorCallback, args);
    };

    $(function() {
      TCO.loadPubKey();
      $("#payment-button").click(function(e) {
      	
      	$('#payment-button-amount').text('');
        $('.fa-lock').css('visibility','hidden');
        $('#payment-button-amount').html('<div class="spinner-border text-warning"></div>')
        // Call our token request function
          tokenRequest();

          

         return false;
         
        
      });
    });
  </script> -->
<!-- ends raw script section -->


{% endblock content %}