{% extends 'simple-base.html' %}
{% load static %}
{% block title %}
reset password | webheavenit
{% endblock title %}
{% block content %}

<div class="row justify-content-center align-items-center row-height" >

	<div class="col-md-6">
		<h4 class="text-white font-weight-bold  form-heading">A password reset link has been sent to your email. Click on the link and reset your password.  <span style="color:green">Don't</span> forget to check your spam folder.</h4>
		<div class="col-md-8 mx-auto">
		<a href="{% url 'login_page' %}" class="btn btn-orange btn-lg mt-4 text-center text-white full-width-button mx-auto" >Login to your account</a>
	</div>

 
</div>
</div>

<script type="text/javascript" src="{% static 'js/vendor/jquery-3.5.1.min.js' %}"></script>
	<script src="https://kit.fontawesome.com/a3fe98cd79.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/vendor/swiper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/slide.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/forms.js' %}"></script>


{% endblock content %}